body {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    background-color: #A4E4FC;
}

h1 {
    font-size: 20px;
    color: #0000FC;
    margin: 30px;
    padding: 10px;
}


canvas {
    border: 5px solid black;
}

.game-board {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.home-board {
    margin-top: 100px;
}

.away-board {
   margin-top: 100px;
}

.how-to-play {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.how-to-play-btn {
    width: 100px;
}

.play-btn {
    margin: 10px;
}

.msg {
    height: 50px;
    margin: 20px;
}

.msg > p {
    color: red
}

