body {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
}

.wrapper {
    margin: 30px;
    background-color: #A4E4FC; 
    border-radius: 50px;
}

h1 {
    font-size: 20px;
    color: #0000FC;
    margin: 30px;
    padding: 10px;
    text-transform: uppercase;
}


canvas {
    border: 5px solid black;
}

.game-board {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.home-board, .away-board {
    margin-top: 100px;
    color: black;
}

.how-to-play {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    height: 140px;
}

.how-to-play-btn {
    width: 150px;
    margin-bottom: 10px;
}

.play-btn {
    margin: 10px;
}

.msg {
    height: 50px;
    margin: 20px;
    font-size: 20px;
}

.msg > p {
    color: red
}

button {
    background-color: white;
    font-family: 'Press Start 2P', cursive;
    padding: 5px;
}

button:hover {
    border: 2px solid #0000fc;
}